<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === "/" ? "active" : "")) Agua Trade
                    li.main-header__item
                        a(href="/FishLand", class=(path === "/products" ? "active" : "")) Fish Land
                    //- li.main-header__item
                    //-     a(href="/FishBag", class=(path === "/cart" ? "active" : "")) Fish Bag 
                    //- li.main-header__item
                    //-     a(href="/orders", class=(path === "/orders" ? "active" : "")) Fish Orders 
                    li.main-header__item
                        a(href="/root/addFish", class=(path === "/root/addFish" ? "active" : "")) New Fish
                    li.main-header__item
                        a(href="/root/Fish", class=(path === "/root/Fish" ? "active" : "")) Tweak Section
        block content 
    